{% extends 'base.html' %}

{% block title %}This is my contact{% endblock title %}
{% block body %}
<div class="container">
    <img src="https://source.unsplash.com/1600x400/?email" class="d-block w-100 my-4" alt="...">
</div>
<div class="container">
    <h1 class="text-center">Contact Us</h1>
    <form method="POST" action="/contact">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter you name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter you phone number here ">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Write your sugggestions</label>
            <input type="desc" class="form-control" id="desc" name="desc" placeholder="Enter you suggestions here ">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock body %}